<div class="page-header" style="margin-top: -65px;">
  <!-- <h3 class="page-title">
    Serveur Mail
  </h3> -->
  <!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Mail</a></li>
      <li class="breadcrumb-item active" aria-current="page">Serveur Mail</li>
    </ol>
  </nav>-->
</div>
<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row card-title">
          <h4 class="col-lg-3">Serveur Mail</h4>
          <div class="offset-7 col-lg-2">
            <button hidden id="refresh" (click)="justRefresh()"></button>
            <button *ngIf="email == null" type="button" class="btn btn-primary" (click)="createMailServer()">New Server</button>

          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <!--<th>
                <div class="form-check form-check-muted m-0">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <i class="input-helper"></i>
                  </label>
                </div>
              </th>-->
              <th> Host </th>
              <th> Port  </th>
              <th> Username </th>
              <th> Password </th>
              <th> Actions </th>
            </tr>
            </thead>
            <tbody *ngIf="email != null">
            <tr>
              <!--<td>
                <div class="form-check form-check-muted m-0">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <i class="input-helper"></i>
                  </label>
                </div>
              </td>-->
              <td>{{email.smtp_host}}</td>
              <td>{{email.smtp_port}}</td>
              <td>{{email.smtp_username}}</td>
              <td>********</td>

              <td>
              <a title="Edit Mail Servver" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                 (click)="updateMailServer(email)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete Mail Servver" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                 (click)="deleteMail(email)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode==1 || mode==2" class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body" style="margin-bottom: -38px;">
            <h4 class="card-title"><span *ngIf="mode==1; else updateTitle">Ajouter Configuration Email</span>
              <ng-template #updateTitle >Modifier Configuration Email</ng-template>
            </h4>
            <p class="card-description">
              pour l'envoie des tokens aux utilisateurs de l'application Android
            </p>
            <form >
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Host</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="imei" [(ngModel)]="newEmail.smtp_host" placeholder="Nom d'hôte">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Port</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="surname" [(ngModel)]="newEmail.smtp_port" placeholder="Port">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="name" [(ngModel)]="newEmail.smtp_username" placeholder="Nom d'utilisateur">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="date_expr" [(ngModel)]="newEmail.smtp_password" placeholder="Mot de passe">
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button *ngIf="mode==1; else update" type="button" class="btn btn-primary mr-2 left-0" (click)="addOrUpdateEmail(newEmail)">Ajouter</button>
            <ng-template #update>
              <button class="btn btn-primary mr-2 left-0" (click)="addOrUpdateEmail(newEmail)">Modifier</button>
            </ng-template>

            <button class="btn btn-light" (click)="annuler()" id="cancel">Annuler</button>
          </div>
        </div>
      </div>
</div>


