<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="imei">
                <ng-container *ngIf="imei.imei_id">Editer</ng-container>
                <ng-container *ngIf="!imei.imei_id">Creér</ng-container>
                IMEI
                <ng-container *ngIf="imei.imei_id">'{{imei.surname}} {{ imei.name }}'</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="imei">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row">
                    <div class="col-lg-8">
                        <label class="form-label">Saisir le IMEI</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="imei"
                               placeholder="Entrer IMEI" autocomplete="off" [class.is-invalid]="isControlInvalid('imei')"
                               [class.is-valid]="isControlValid('imei')" formControlName="imei" />
                        <div class="valid-feedback" *ngIf="isControlValid('imei')">IMEI was entered correct</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'imei')">IMEI is required</div>
                        <!--<div class="invalid-feedback" *ngIf="controlHasError('pattern', 'imei')">Only numbers</div>-->
                        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'imei')">IMEI should have at
                            least 16 symbols</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'imei')">IMEI should have
                            maximum 16 symbols</div>
                    </div>
                   <!-- <div class="col-lg-6">
                        <label class="form-label">Confirmer le IMEI</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="confirm_imei"
                               placeholder="Confirmer IMEI" autocomplete="off" [class.is-invalid]="isControlInvalid('confirm_imei') && !isMutched('confirm_imei')"
                               [class.is-valid]="isControlValid('confirm_imei') && isMutched('confirm_imei')" formControlName="confirm_imei" />
                        <div class="valid-feedback" *ngIf="isControlValid('confirm_imei')">IMEI was entered correct</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'confirm_imei')">IMEI is required</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'confirm_imei')">Only numbers</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'confirm_imei')">IMEI should have at
                            least 15 symbols</div>
                        <div class="invalid-feedback" *ngIf="!isMutched('confirm_imei')">IMEIs must match</div>
                    </div>-->

                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label class="form-label">Saisir le nom correspondant</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="name"
                               placeholder="Nom" autocomplete="off" [class.is-invalid]="isControlInvalid('name')"
                               [class.is-valid]="isControlValid('name')" formControlName="name" />
                        <div class="valid-feedback" *ngIf="isControlValid('name')">Name was entered correct</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">Name is required</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'name')">Only alphabets</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'name')">Name should have at
                            least 3 symbols</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'name')">Name should have
                            maximum 20 symbols</div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Saisir le prénom correspondant</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="surname"
                               placeholder="Prénom" autocomplete="off" [class.is-invalid]="isControlInvalid('surname')"
                               [class.is-valid]="isControlValid('surname')" formControlName="surname" />
                        <div class="valid-feedback" *ngIf="isControlValid('surname')">Name was entered correct</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'surname')">Name is required</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'surname')">Only alphabets</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'surname')">Surname should have at
                            least 3 symbols</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'surname')">Surname should have
                            maximum 20 symbols</div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-lg-8">
                        <label class="form-label">Saisir Email</label>
                        <input type="email" class="form-control form-control-lg form-control-solid" name="email" placeholder="Email"
                               autocomplete="off" [class.is-invalid]="isControlInvalid('email')"
                               [class.is-valid]="isControlValid('email')" formControlName="email" />
                        <div class="valid-feedback" *ngIf="isControlValid('email')">Email was entered correct</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">Email is required</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('email', 'email')">Email format is incorrect</div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container *ngIf="imei">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="editOrSave()"
                    [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>
